.navlist {
  display: flex;
  column-gap: 5px;
  font: 400 14px/1.3 "PT Sans", Arial, sans-serif;
  margin-bottom: 24px;
}

.navlink {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 767px) {
  .navlist {
    display: none;
  }
}
