@import url("./fonts/fonts.css");

.body {
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  color: #323232;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error {
  color: red;
}
